<div class="todo-container">
  <div class="nav-container">
    <button id="add-todo-btn" class="add-todo-btn">Add Todo</button>
    <div class="filter-buttons">
      <a href="/" class="filter-btn {{#unless view}}active{{/unless}}">All</a>
      <a href="/completed" class="filter-btn {{#if (eq view 'completed')}}active{{/if}}">Completed</a>
      <a href="/incomplete" class="filter-btn {{#if (eq view 'incomplete')}}active{{/if}}">Incomplete</a>
    </div>
  </div>
  
  <div id="add-todo-form-container" class="form-container hidden">
    <form id="add-todo-form">
      <input type="text" id="todo-text" name="todoText" placeholder="Enter your todo" required>
      <button type="submit">Add</button>
      <button type="button" id="cancel-btn">Cancel</button>
    </form>
  </div>
  
  <div class="filter-container">
    <input type="text" id="filter-input" placeholder="Filter todo items..." class="filter-input">
  </div>

  <ul id="todo-list" class="todo-list">
    {{#each todos}}
      <li class="todo-item{{#if completed}} completed{{/if}}" data-id="{{id}}">
        <span class="todo-text">{{text}}</span>
        <div class="todo-actions">
          {{#if completed}}
            <button class="incomplete-btn" data-id="{{id}}">Mark as not completed</button>
          {{else}}
            <button class="complete-btn" data-id="{{id}}">Complete</button>
          {{/if}}
          <button class="delete-btn" data-id="{{id}}">Delete</button>
        </div>
      </li>
    {{/each}}
  </ul>
</div>